@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype");
  src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf)
    format("truetype");
}

/* Custom Properties */

:root {
    --clr-yellow: hsl(47, 88%, 63%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey: hsl(0, 0%, 50%);
    --clr-black: hsl(0, 0%, 7%);

    --fs-regular: 1rem;

    --fw-regular: 500;
    --fw-bold: 800;
}

/* CSS Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  min-height: 100vh;
  font-family: "Figtree", sans-serif;
  font-size: var(--fs-regular);
  background-color: var(--clr-yellow);
  /* display: grid;
  place-items: center; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Card styles */

.container {
    background-color: var(--clr-white);
    max-width: 375px;
    padding: 1rem;
    margin: 200px auto;
    border: 1px solid var(--clr-black);
    border-radius: 20px;
    box-shadow: 8px 8px;
}